.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
.DS_Store
.nojekyll
L1.qmd
L1slide.qmd
README.md
_quarto.yml
case.qmd
chap1.qmd
chap10.qmd
chap2.qmd
chap3.qmd
chap4.qmd
chap5.qmd
chap6.qmd
chap7.qmd
chap8.qmd
chap9.qmd
docs
fonts.html
header.html
img
index.qmd
projects.qmd
styles.css
theme_light.scss
website-template.Rproj
